@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000; /*This is controling the stacking of the overlapping elements*/
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    padding : 6px 15px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
    border-radius: 6px;
    background: none; 
    border: none;
    mix-blend-mode: screen;
    cursor: pointer;
}

nav ul li a:hover{
    background-color: #fff;
    color: #2b1055;
}


/*Image header Moon'Edge*/
section {
    position: relative;
    width: 100%;
    min-height: 100vh; /*adding min for minimum of element*/
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountain_front{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#textLogin {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 5em;
    z-index: 9;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5em;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ffffff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}


/* Search Bar for Novels*/
.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}

.search-box {
    margin-right: 10px;
    margin-left: 20px;
    align-items: center;
}

.search {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.search-results {
    position: absolute;
    margin-left: 20px;
    margin-right: 10px;
    top: 100%;
    left: 0;
    width: 90%;
    max-height: 200px;
    overflow-y: auto; /*This is for adding a scroll bar*/
    border: 1px solid #fff;
    box-shadow: 0 2px 4px #0000001a;
    background-color: #1c0522;
    display: none; /*This one is for hide the result before*/
}

.search-results .article {
    margin: 10px;
    padding: 10px;
    background-color: #1c0522
}

.search-results .article h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #fff;
}

/* Novel */
hr {
    border: 10px solid #1c0522;
}

.bigbox {
    box-sizing: border-box;
    background: #1c0522;
    padding-right: 10%;
    padding-left: 10%;
}

.releases {
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #1c0522;
    padding: 8px 15px;
}

.releases h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-left: -20px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.releases a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.releases a button{
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 10px;
    background: #ffffff;
    color: #2b1055;
    font-size: 1em;
    position: absolute;
    right: 0;
    margin-top: -20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list h3 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

.list h3 a:hover {
    color: #C154C1; 
}

.article {
    flex: 0 0 calc(30% - 20px);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

.article:hover {
    transform: scale(1.05);
}

.article img {
    width: 100%;
    height: 30em;
    border-radius: 8px;
    object-fit: cover;
    margin: 5px;
}

.article h3 {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: #fff;
}

.buttonBox{
    display: flex;
    margin-top: 10px;
}

.buttonBox a button{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffffff;
    color: #2b1055;
    font-size: 1em;
    display: flex;
}

.buttonBox a button:hover{
    background: #2b1055;
    color: #ffffff;
}

/* detailNovel */
main {
    position: relative;
    padding: 100px;
    background: #1c0522;
    width: 100%;
    flex-grow: 1;
    visibility: visible;
}

#novelDetail {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px, 0;
    width: 100%;

}

.novelheader {
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 0;
    display: block;
    z-index: 1;
}

.glassBackground {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.glassBackground img {
    margin: -35%;
    height: 200%;
    width: 200%;
    object-fit: cover;
    filter: blur(40px);
    box-sizing: border-box;
}

.glassShade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: var(--glass-opacity);
    box-sizing: border-box;
    display: block;
}

.header-bodyContainer {
    display: flex;
    flex-direction: row;
    margin: 0, auto;
    height: 100%;
    padding: 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.fixed-img {
    position: initial;
    z-index: 1;
    flex: 0 0 258px;
    height: 100%;
    max-height: 100%;
    margin-right: 20px;
    display: block;
    box-sizing: border-box;
}

.Cover {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.Cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.novelInfo {
    flex: 1 1 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.main-head {
    padding: 0;
    margin-bottom: 10px;
    order: 0;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.main-head h1 {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 1.2;
    margin-bottom: 4px;
    color: #1c0522;
    margin: 0;
}

.links {
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: 10px;
    order: 4;
    margin: auto 0 auto;
    box-sizing: border-box;
}

.buttonlinks {
    width: 100%;
    height: 50px;
    padding: 0, 10px;
    border-radius: 6px;
    font-size: 1em;
    border: 1px solid transparent;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1.9;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.buttonlinks button {
    width: 100%;
    background-color: #1c0522;
    color: #fff;
    border-radius: 10px;
}

.buttonlinks button:hover {
    background-color: #fff;
    color: #1c0522;
}

/* Synopsis */
.novel-body {
    width: 100%;
    margin: 0 auto;
    padding: 13px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

#infoSum {
    box-sizing: border-box;
    display: block;
}

.summary {
    margin-bottom: 2rem;
    box-sizing: border-box;
    display: block;
}

.lined {
    font-size: 3em;
    margin-bottom: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    line-height: normal;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

.summary-content {
    font-size: 1.2em;
    line-height: 24px;
    overflow:  hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.summary-content p {
    margin-top: 30px;
    padding: 0;
    box-sizing: border-box;
    display: block;
    color: #fff;
    word-break: break-all;
}

/* About */
.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
}

.sec ul li {
    color: #fff;
    padding : 6px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
    border-radius: 6px;
}

/*upload*/
.upload {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}

.upload-button {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    background: #ffffff;
    color: #2b1055;
    font-size: 1.5em;
    right: 0;
    margin-top: -10px;
}

.upload-button:hover {
    background: #2b1055;
    color: #ffffff;
}

/*pop up login Sign Up*/
.popupL, .popupS, .popupU {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background: rgba(0,0,0,0.3);
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9000000;
}

.close{
    position: absolute;
    top: -13px;
    right: -15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.popup-content {
    width: 500px;
    background: #1c0522;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-content h2{
    color: #fff;
    margin-bottom: 20px;
}

.popup-content p{
    color: #fff;
    margin-bottom: 20px;
    font-size: 1em;
}

.popup-content input {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.popup-content label {
    color: #fff;
    font-size: 1em;
    margin: -20px auto 10px;
    display: block;
    text-align: left;
}

.popup-content button {
    margin: 20px auto;
    display: block;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: #1c0522;
    cursor: pointer;
}

.popup-content button:hover {
    background: #2b1055;
    color: #ffffff;
}

.alert {
    padding: 10px;
    margin: bottom 15px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    z-index: 1000000;
    justify-content: center;
    font-size: 0.8em;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-container input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
}
   
.login-container button {
    padding: 8px;
    font-size: 14px;
}

/* PopupU */
#sipnosis
{
    width: 300px;
    height: 250px;
}


/* Footer */
footer {
    text-align: center;
    padding: 1rem 0 3rem;
    background-color: #1c0522;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
    color: #ffffff;
}

footer .credit a {
    color: #ffffff;
    font-weight: 700;
}
